.menu {
   // .menu__icon
   &__icon {
   }
   // .menu__body
   &__body {
      @media (max-width: toEm(767.98)) {
         position: fixed;
         width: 100%;
         height: 100%;
         left: -100%;
         top: 0;
         overflow: auto;
         padding: toRem(154) toRem(15) toRem(30) toRem(15);
         background-color: var(--clr-dark-10);
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: toRem(20);
         transition: left 0.3s;
         &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: toRem(154);
            left: -100%;
            top: 0;
            transition: left 0.3s;
            background-color: var(--clr-dark-10);
            z-index: 2;
         }
         .menu-open & {
            left: 0;
            &::before {
               left: 0;
            }
         }
      }
      @media (max-width: toEm(479.98)) {
         align-items: stretch;
      }
   }
   // .menu__list
   &__list {
      display: flex;
      align-items: center;
      @include fluid-property("gap", 40, 20);
      @media (max-width: toEm(767.98)) {
         flex-direction: column;
      }
   }
   // .menu__item
   &__item {
   }
   // .menu__link
   &__link {
      color: var(--clr-grey-50);
      @include fluid-property("font-size", 18, 14);
      // .menu__link--active
      &--active {
         color: var(--clr-white);
         font-weight: 500;
         padding: toEm(14, 18) toEm(24, 18);
         background-color: var(--clr-dark-08);
         border-radius: toEm(10, 18);
         border: toRem(1) solid var(--clr-dark-20);
      }
      @media (max-width: toEm(767.98)) {
      }
   }
}

//Burger Icon
.icon-menu {
   display: none;
   @media (max-width: toEm(767.98)) {
      display: block;
      position: relative;
      width: toRem(25);
      height: toRem(17);
      z-index: 5;
      @media (any-hover: none) {
         cursor: default;
      }
      span,
      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: toRem(2);
         background-color: #fff;
         border-radius: toRem(2);
      }
      &::before {
         top: 0;
      }
      &::after {
         width: 50%;
         bottom: 0;
      }
      span {
         top: calc(50% - toRem(1));
      }
      .menu-open & {
         span {
            width: 0;
         }
         &::before,
         &::after {
         }
         &::before {
            top: calc(50% - toRem(1));
            transform: rotate(-45deg);
         }
         &::after {
            width: 100%;
            bottom: calc(50% - toRem(1));
            transform: rotate(45deg);
         }
      }
   }
}
