:root {
   --clr-black: #000;
   --clr-white: #fff;
   --clr-yellow: #ffd11a;
   --clr-yellow-hover: #ffe066;
   --clr-grey-50: #7e7e81;
   --clr-grey-60: #98989a;
   --clr-dark-08: #141414;
   --clr-dark-10: #1a1a1a;
   --clr-dark-20: #333333;
   --clr-dark-15: #262626;
   --clr-dark-40: #666666;
}
