.button {
   @include flex-center(true);
   gap: toEm(10);
   @include fluid-property("font-size", 18, 14);
   padding: 1em 1.3333333333em;
   border-radius: 0.666667em;
   background-color: var(--clr-dark-08);
   border: toRem(1) solid var(--clr-dark-15);
   @media (any-hover: hover) {
      &:hover {
         svg {
            rotate: 45deg;
         }
      }
   }
}

.new {
   display: inline-block;
   @include fluid-property("font-size", 16, 12);
   padding: toEm(4) toEm(12);
   border-radius: toEm(6);
   background-color: var(--clr-dark-10);
   position: relative;
   &::before,
   &::after {
      content: "";
      position: absolute;
      inset: -0.6px;
      z-index: -1;
      background: linear-gradient(40deg, rgba(38, 38, 38, 1) 40%, rgba(255, 209, 25, 0.2) 100%);
      border-radius: inherit;
   }
}
