@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Kumbh+Sans:wght@100..900&display=swap");
@import "./reset";
@import "./base/variables";
@import "./base/mixins";
@import "./common";

@import "./header";
@import "./base/menu";
@import "./footer";

body {
   font-family: "Inter", sans-serif;
   background-color: var(--clr-dark-08);
   color: var(--clr-white);
   font-size: toRem(18);
}

svg {
   @include fluid-property("width", 24, 20);
   @include fluid-property("height", 24, 20);
   color: var(--clr-yellow);
   transition: rotate 0.3s;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
}

[class*="__container"] {
   max-width: toRem(1626);
   margin-inline: auto;
   padding-inline: toRem(15);
}

button {
   @include reset-button;
}

a {
   @include reset-link;
}
